<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tâche</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="vh-100 m-0">
    <div class="container p-5 h-100">
        <div  class="card p-5 h-100">
            <h1 class="card-title"><%= task.titre %></h1>
            <p class="card-text"><%= task.description %></p>
            <form action="/tasks/<%= task._id %>/status" method="post" class="d-inline">
                <button type="submit" class="btn btn-sm <%= task.compeleter ? 'btn-danger' : 'btn-success' %> w-25">
                    <%= task.compeleter ? 'non complétée' : 'complétée' %>
                </button>
            </form>
        </div>
        <a href="/tasks">Retour à la liste des tâches</a>
    </div>
</body>
</html>